@media screen and (min-width: 1200px) {
  body {
    .garanties {
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-around;
      padding: 5% 0;
      div{
          width: 120%;
          margin: 0;
          p{
              padding: 0;
          }
      }
    }
  }
}
