// COULEURS
$blue:#004e96;
$red:#ee3a3a;
$green:#44b817;
$gray:#454040; 
$orange: rgb(252,159,37);
$gradient: linear-gradient(90deg, rgba(252,159,37,1) 0%, rgba(225,90,85,1) 100%);

// POLICES
@font-face{
    font-family:'akira';
    src: url(../fonts/AkiraExpandedDemo.otf);
}
    