@font-face {
  font-family: "akira";
  src: url(../fonts/AkiraExpandedDemo.otf);
}
body header nav {
  height: 60px;
  box-shadow: 0px -10px 30px #454040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
body header nav a {
  width: 25%;
  padding-left: 10px;
}
body header nav a img {
  width: 100%;
}
body header nav ul {
  display: none;
}
body header nav .icones {
  display: none;
}
body header nav #burger {
  width: 15%;
  padding-right: 10px;
}
body header nav #burger svg {
  width: 100%;
  color: black;
}

body h1 {
  font-family: "akira";
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #fc9f25 0%, #e15a55 100%);
  margin-top: 20%;
}
body .sectionPromotions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10% 10px 0 10px;
}
body .sectionPromotions__card {
  border-radius: 10px;
  box-shadow: 0px 8px 20px #cccccb;
  height: 100%;
}
body .sectionPromotions__card a {
  text-decoration: none;
  text-align: center;
}
body .sectionPromotions__card__percent {
  background: #44b817;
  color: white;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body .sectionPromotions__card img {
  width: 100%;
}
body .sectionPromotions__card__text {
  padding-left: 5px;
  color: black;
  text-align: left;
}
body .sectionPromotions__card__text h2 {
  font-size: 20px;
  font-weight: bold;
}
body .sectionPromotions__card__text h3 {
  font-size: 15px;
}
body .sectionPromotions__card__text p {
  line-height: 5px;
}

body .sectionNews__nouveautes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 50px 10px 0 10px;
  text-align: center;
}
body .sectionNews__nouveautes a {
  text-decoration: none;
}
body .sectionNews__nouveautes__card {
  border-radius: 10px;
  box-shadow: 0px 8px 20px #cccccb;
  height: 100%;
  width: 80%;
  margin: auto;
}
body .sectionNews__nouveautes__card img {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
}
body .sectionNews__nouveautes__card__flex {
  display: flex;
  justify-content: space-around;
}
body .sectionNews__nouveautes__card__flex__text {
  padding-left: 5px;
  color: black;
  text-align: left;
}
body .sectionNews__nouveautes__card__flex__text h2 {
  font-size: 20px;
  font-weight: bold;
}
body .sectionNews__nouveautes__card__flex__text h3 {
  font-size: 15px;
}
body .sectionNews__nouveautes__card__flex__text p {
  line-height: 5px;
}
body .sectionNews__nouveautes__card__flex__bottom p {
  font-weight: bold;
  color: white;
  background: #ee3a3a;
  padding: 0 5px;
  line-height: normal;
}
body .sectionNews__nouveautes__card__flex__bottom__panier {
  display: flex;
  justify-content: space-around;
}
body .sectionNews__nouveautes__card__flex__bottom__panier svg {
  color: #44b817;
}
body .sectionNews__bandeau {
  padding: 10% 0;
}
body .sectionNews__bandeau img {
  width: 100%;
}
body .sectionNews__bandeau2 {
  display: flex;
  align-items: center;
  padding: 0 10px 50px 10px;
}
body .sectionNews__bandeau2 p {
  color: #004e96;
  padding: 0 10px;
  line-height: 20px;
}

body .container {
  padding: 0;
}
body .container__bandeau2 {
  text-align: center;
}
body .container__bandeau2 p {
  color: #004e96;
}
body .container__sectionLeft__meilleursVentes {
  padding: 10% 0 0 0;
}
body .container__sectionLeft__meilleursVentes__card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  box-shadow: -8px 8px 20px #cccccb;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 20%;
}
body .container__sectionLeft__meilleursVentes__card a {
  width: 50%;
  text-align: center;
}
body .container__sectionLeft__meilleursVentes__card a img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60%;
}
body .container__sectionLeft__meilleursVentes__card__text {
  width: 50%;
  text-align: left;
}
body .container__sectionLeft__meilleursVentes__card__text p {
  line-height: 5px;
}

body .container {
  padding: 0;
}
body .container__sectionRight__nouvellesArrivees {
  padding: 10% 0 0 0;
}
body .container__sectionRight__nouvellesArrivees__card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  box-shadow: 8px 8px 20px #cccccb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 20%;
}
body .container__sectionRight__nouvellesArrivees__card a {
  width: 50%;
  text-align: center;
}
body .container__sectionRight__nouvellesArrivees__card a img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60%;
}
body .container__sectionRight__nouvellesArrivees__card__text {
  width: 50%;
  text-align: left;
}
body .container__sectionRight__nouvellesArrivees__card__text p {
  line-height: 5px;
}

body h1 {
  font-family: "akira";
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #fc9f25 0%, #e15a55 100%);
  margin-top: 20%;
}
body .productsDetails {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 10% 10px 0 10px;
  width: 90%;
  margin: auto;
}
body .productsDetails__card {
  border-radius: 10px;
  box-shadow: 0px 8px 20px #cccccb;
  height: 100%;
  text-align: center;
}
body .productsDetails__card img {
  width: 80%;
}
body .productsDetails__card__text {
  padding-left: 5px;
  color: black;
  text-align: left;
}
body .productsDetails__card__text h2 {
  font-size: 20px;
  font-weight: bold;
}
body .productsDetails__card__text h3 {
  font-size: 15px;
}
body .productsDetails__card__text p {
  line-height: normal;
  padding: 5px;
}
body .productsDetails__card__text form #valeurInput {
  width: 20%;
}
body .productsDetails__card__text form p {
  text-align: center;
  padding-top: 20px;
}
body .productsDetails__card__text form p a {
  padding: 5px;
  border: gray 1px solid;
  border-radius: 5px;
  background-color: #eeeeee;
  text-decoration: none;
}

body .productsPanier__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 8px 20px #cccccb;
  text-align: center;
  padding-bottom: 10%;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
body .productsPanier__grid div img {
  width: 150px;
}
body .productsPanier__grid div input {
  width: 30%;
}
body .productsPanier__grid div button {
  border-radius: 10px;
  box-shadow: 0px 8px 20px #cccccb;
  border-style: none;
  background-color: #b81616;
  color: white;
  padding: 5px 10px;
}
body .productsPanier__grid div button:hover {
  background-color: #d82222;
}

body .garanties {
  background-color: #454040;
  box-shadow: 0px 8px 30px #454040;
  padding: 10% 0;
  margin: 10% 0;
}
body .garanties div {
  display: flex;
  align-items: center;
}
body .garanties div img {
  padding: 10px;
  width: 65px;
  margin-left: 30px;
}
body .garanties div p {
  text-align: left;
  line-height: 20px;
  color: white;
  margin: 0;
  padding: 10px 40px;
}
body .garanties div p span {
  display: block;
}

body .sectionInfos div {
  text-align: center;
}
body .sectionInfos div h4 {
  font-weight: bold;
  padding-top: 10px;
}
body .sectionInfos div h4 span {
  display: block;
}
body .sectionInfos div a {
  text-decoration: none;
  color: black;
}
body .sectionInfos div p {
  line-height: 5px;
}

body footer {
  border-top: 1px solid black;
  font-weight: bold;
  margin-top: 10%;
  padding-bottom: 5%;
}
body footer p {
  margin: 10px 0 0 10px;
}
body footer a {
  margin-left: 10px;
  display: block;
  line-height: 20px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 800px) {
  body header nav a {
    width: 15%;
  }
  body header nav ul {
    display: none;
  }
  body header nav .icones {
    display: none;
  }
  body header nav #burger {
    width: 10%;
  }
}
@media screen and (min-width: 800px) {
  body .sectionPromotions {
    gap: 40px;
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  body .sectionNews__nouveautes {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    margin: auto;
  }
  body .sectionNews__nouveautes__card {
    width: 100%;
  }
  body .sectionNews__bandeau {
    display: flex;
  }
  body .sectionNews__bandeau img {
    width: 50%;
  }
  body .sectionNews__bandeau2 {
    justify-content: center;
    width: 90%;
    margin: auto;
  }
  body .sectionNews__bandeau2 img {
    width: 30%;
  }
  body .sectionNews__bandeau2 p {
    width: 70%;
    font-size: 2em;
    line-height: normal;
    text-align: left;
    padding-left: 10%;
  }
}
@media screen and (min-width: 800px) {
  body .container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 100%;
  }
  body .container__bandeau2 {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    padding-bottom: 5%;
  }
  body .container__bandeau2 img {
    width: 30%;
  }
  body .container__bandeau2 p {
    width: 50%;
    margin: auto;
    color: #004e96;
    font-size: 1.5em;
  }
  body .container__sectionLeft {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
  }
  body .container__sectionLeft h1 {
    margin: 0;
    padding: 0 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  body .container__sectionLeft__meilleursVentes {
    padding-top: 30px;
  }
  body .container__sectionLeft__meilleursVentes__card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 8px 8px 20px #cccccb;
    margin-left: 0;
    width: 100%;
  }
  body .container__sectionLeft__meilleursVentes__card a img {
    width: 40%;
  }
}
@media screen and (min-width: 800px) {
  body .container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }
  body .container__sectionRight {
    grid-column: 2;
    grid-row: 2;
    justify-self: right;
    padding-top: 30px;
  }
  body .container__sectionRight h1 {
    margin: 0;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  body .container__sectionRight__nouvellesArrivees {
    padding: 10% 0 0 0;
  }
  body .container__sectionRight__nouvellesArrivees__card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: -8px 8px 20px #cccccb;
    width: 100%;
  }
  body .container__sectionRight__nouvellesArrivees__card a img {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  body .productsDetails__card img {
    width: 80%;
  }
  body .productsDetails__card__text form #valeurInput {
    width: 10%;
  }
  body .productsDetails__card__text form p {
    text-align: center;
    padding-top: 20px;
  }
  body .productsDetails__card__text form p a {
    padding: 5px;
    border: gray 1px solid;
    border-radius: 5px;
    background-color: #eeeeee;
    text-decoration: none;
  }
}
@media screen and (min-width: 800px) {
  body .productsPanier__grid {
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 0%;
    width: 90%;
    margin: auto;
    margin-top: 10%;
  }
  body .productsPanier__grid div img {
    padding: 5px 0;
  }
  body .productsPanier__grid div input {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  body .garanties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
}
@media screen and (min-width: 800px) {
  body .sectionInfos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 800px) {
  body footer a {
    display: inline;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  body header nav {
    height: 60px;
    box-shadow: 0px -10px 30px #454040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  body header nav a {
    width: 10%;
    padding-left: 10px;
  }
  body header nav a img {
    width: 100%;
  }
  body header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  body header nav ul a {
    text-decoration: none;
  }
  body header nav ul a li {
    list-style: none;
    color: black;
  }
  body header nav .icones {
    display: block;
    padding-left: 10px;
    width: 15%;
  }
  body header nav .icones a {
    text-decoration: none;
    color: black;
  }
  body header nav #burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  body h1 {
    margin-top: 10%;
  }
  body .sectionPromotions {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  body .sectionNews__nouveautes {
    grid-template-columns: repeat(4, 1fr);
  }
  body .sectionNews__bandeau {
    padding: 10% 0;
  }
  body .sectionNews__bandeau img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  body .container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  body .container__bandeau2 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  body .container__bandeau2 img {
    width: 80%;
  }
  body .container__bandeau2 p {
    font-size: 2em;
    color: #004e96;
    width: 100%;
    text-align: left;
  }
  body .container__sectionLeft {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
  }
  body .container__sectionLeft h1 {
    border-radius: 10px;
  }
  body .container__sectionLeft__meilleursVentes {
    padding: 30px 0 0 0;
  }
  body .container__sectionLeft__meilleursVentes__card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-shadow: -8px 8px 20px #cccccb;
    border-radius: 10px;
  }
  body .container__sectionLeft__meilleursVentes__card a {
    width: 50%;
    text-align: center;
  }
  body .container__sectionLeft__meilleursVentes__card a img {
    border-radius: 10px;
    width: 60%;
  }
  body .container__sectionLeft__meilleursVentes__card__text {
    width: 50%;
    text-align: left;
  }
  body .container__sectionLeft__meilleursVentes__card__text p {
    line-height: 5px;
  }
}
@media screen and (min-width: 1200px) {
  body .container {
    padding: 0;
  }
  body .container__sectionRight {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    padding-top: 0;
  }
  body .container__sectionRight h1 {
    border-radius: 10px;
  }
  body .container__sectionRight__nouvellesArrivees {
    padding: 30px 0 0 0;
  }
  body .container__sectionRight__nouvellesArrivees__card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-shadow: 8px 8px 20px #cccccb;
    border-radius: 10px;
    margin: 0;
  }
  body .container__sectionRight__nouvellesArrivees__card a {
    width: 50%;
    text-align: center;
  }
  body .container__sectionRight__nouvellesArrivees__card a img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 60%;
  }
  body .container__sectionRight__nouvellesArrivees__card__text {
    width: 50%;
    text-align: left;
  }
  body .container__sectionRight__nouvellesArrivees__card__text p {
    line-height: 5px;
  }
}
@media screen and (min-width: 1200px) {
  body .productsDetails__card {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  body .productsPanier__grid {
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 0%;
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }
  body .productsPanier__grid div img {
    padding: 5px 0;
  }
  body .productsPanier__grid div input {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  body .garanties {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    padding: 5% 0;
  }
  body .garanties div {
    width: 120%;
    margin: 0;
  }
  body .garanties div p {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  body footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
  }
  body footer p {
    margin: 0;
  }
}
body {
  margin: 0;
}/*# sourceMappingURL=style.css.map */